/*
 * Font setup
 * --------------------------------------------------
 */

@font-face {
  font-family: "Johnston100-Hairline";
  src: url("../fonts/Johnston100-Hairline.woff2")
      format("woff2"),
    url("../fonts/Johnston100-Hairline.woff")
      format("woff");
}

@font-face {
  font-family: "Johnston100-Light";
  src: url("../fonts/Johnston100-Light.woff2")
      format("woff2"),
    url("../fonts/Johnston100-Light.woff")
      format("woff");
}

@font-face {
  font-family: "Johnston100-Medium";
  src: url("../fonts/Johnston100-Medium.woff2")
      format("woff2"),
    url("../fonts/Johnston100-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Johnston100-Regular";
  src: url("../fonts/Johnston100-Regular.woff2")
      format("woff2"),
    url("../fonts/Johnston100-Regular.woff")
      format("woff");
}

.white {
  color: white;
}

/*
 * Font sizes
 * --------------------------------------------------
 */

html, body {
  font-family: "Johnston100",Helvetica,Arial,sans-serif;
  margin:0;
  padding:0;
  height:100%;
  background: #ffffff;
}

.bodyBlue {
  background: var(--core-blue);
}

.outer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  /*whatever width you want*/
}

h1 {
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;
  font-size: 28px;
}

.heading {
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;
  font-size: 47px;
}

h2 {
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;
  font-size: 24px;
}

h3 {
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

p {
  font-family: "Johnston100-Light",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

a {
  font-family: "Johnston100-Light",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: var(--core-black);
  text-decoration: underline;
}

.textCenter{
  text-align: center;
}

a:hover {
  color: var(--core-black);
}

.colourBox {
  width: 100%;
  height: 100px;
}

/*
 * Components
 * --------------------------------------------------
 */

 .content {
   margin: auto;
   max-width: 500px;
   background:white;
 }

 .button {
  background-color: var(--core-blue); /* Green */
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  min-width: 50px;
  height: 50px;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;

  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;

}

.buttona {
  background-color: var(--core-blue); /* Green */
  border: none;
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  min-width: 50px;
  height: 50px;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;

  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-top: 8px;
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;
}
.buttona:hover {
  color: white;
  text-decoration: none;
}


/* 
.button:hover {
  opacity: 0.5;
} */

#pageContainer {
  min-height:100%;
  position:relative;
}

#body {
  padding-bottom: 20px;
}

#footer {
  position: absolute;
  bottom:0;
  width:100%;
  height:155px;   /* Height of the footer */
  background:#6cf;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}

.section {
  padding-bottom: 50px;
  padding-top: 50px;
 }

.section-grey {
  padding-bottom: 50px;
  padding-top: 50px;
  background: var(--grey40);
 }

 .section-white {
  padding-bottom: 50px;
  padding-top: 50px;
  background: var(--grey40);
 }

 .padding0 {
  padding: 0px;
}

 .padding15 {
  padding-left: 15px;
  padding-right: 15px;
}

.paddingT20 {
  padding-top: 20px;
}
.paddingB20 {
  padding-bottom: 20px;
}

.paddingLR20 {
  padding-left: 20px;
  padding-right: 20px;
}

.paddingB40 {
  padding-bottom: 40px;
}

.marginT30 {
  margin-top: 30px;
}

 .marginB40 {
   margin-bottom: 40px;
 }

 .marginB20 {
  margin-bottom: 20px;
}

 .marginT20 {
  margin-top: 20px;
}

.marginT40 {
  margin-top: 40px;
}

.marginTB40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.blueBackground {
  background-color: var(--core-blue);
}

.whiteText {
  color: white;
}

/*
 * Variables
 * --------------------------------------------------
 */

 :root {
  --core-blue: rgb(0, 25, 168);
  --core-black: rgb(16, 16, 16);
  --core-white: rgb(255, 255, 255);
  
  --bakerloo: rgb(178, 99, 0);
  --piccadilly: rgb(0, 25, 168);
  --central: rgb(220, 36, 31);
  --hammersmithAndCity: rgb(245, 137, 166);
  --jubilee: rgb(131, 141, 147);
  --victoria: rgb(3, 155, 229);
  --circle: rgb(255, 200, 10);
  --metropolitan: rgb(155, 0, 88);
  --waterlooAndCity: rgb(118, 208, 189);
  --district: rgb(0, 125, 50);
  --northern: rgb(0, 0, 0);

  --grey80: rgb(134, 144, 159);
  --grey60: rgb(193, 200, 210);
  --grey50: rgb(230, 232, 235);
  --grey40: rgb(245, 247, 250);
  --grey20: rgb(249, 250, 252);
}

/*
 * Colours
 * --------------------------------------------------
 */

.core-blue{
  background-color: var(--core-blue);
}

.core-black{
  background-color: var(--core-black);
}

.core-white{
  background-color: var(--core-white);
}

.bakerloo{
  background-color: var(--bakerloo);
}

.piccadilly{
  background-color: var(--piccadilly)
}

.central{
  background-color: var(--central)
}

.hammersmithAndCity{
  background-color: var(--hammersmithAndCity)
}

.jubilee{
  background-color: var(--jubilee)
}

.victoria{
  background-color: var(--victoria)
}

.circle{
  background-color: var(--circle)
}

.metropolitan{
  background-color: var(--metropolitan)
}

.waterlooAndCity{
  background-color: var(--waterlooAndCity)
}

.district{
  background-color: var(--district)
}

.northern{
  background-color: var(--northern)
}

.subHeading {
  font-family: "Johnston100-Light",Helvetica,Arial,sans-serif;
  font-size: 24px !important;
}

.fontHairline p {
  font-family: "Johnston100-Hairline",Helvetica,Arial,sans-serif;
}

.fontLight p {
  font-family: "Johnston100-Light",Helvetica,Arial,sans-serif;
}

.fontRegular p {
  font-family: "Johnston100-Regular",Helvetica,Arial,sans-serif;
  font-size: 100px;
}

.fontMedium p {
  font-family: "Johnston100-Medium",Helvetica,Arial,sans-serif;
  font-size: 100px;
}

.list-group-item.active {
  background-color: var(--core-blue);
}

.navbar-inverse {
  background-color: var(--core-blue);
}

.navbar a {
  color: white !important;
}

/* Checkbox */

 /* Customize the label SS*/
 .tflCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tflCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
	width: 20px;
	height: 20px; 
  border-color: #000000;
  border-width: 2.5px;
  border-style: solid;
}

.checkbox {
  margin-left: -32px;
  margin-top: 10px;
}

/* Checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tflCheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tflCheckbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

/* Terms Textbox */

.termsConditions {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  /* border-bottom: solid #000000 1px; */
}

/* Media Queries */

@media screen and (min-width: 500px) {
  /* .desktopFloat {
   margin-top: 100px !important;
  } */

  html, body {
  background: var(--grey50);
  }

  .content {
    border-radius: 8px;
  }
  
  .blueBackground {
    background-color: var(--core-blue);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--grey50);
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    /*whatever width you want*/
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .roundedCorners {
    border-radius: 8px;
  }

}